[Desktop Entry]
Name=NeutrinoNG2
Comment=ShowTV and play movies and music
Exec=/usr/bin/neutrino2
TryExec=/usr/bin/neutrino2
Icon=/usr/share/tuxbox/neutrino2/icons/start.jpg
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Player;Recorder;

