[Desktop Entry]
Name=NeutrinoNG
Comment=Show TV and play movies and music
Exec=neutrino2
TryExec=neutrino2
Icon=/usr/share/tuxbox/neutrino2/icons/start.jpg
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Player;TV;Recorder;

