Package: neutrino2
Version: 5.1
Priority: optional
Section: video
Maintainer: mohousch <mohousch@gmail.com>
Architecture: all
Depends: liblua5.2-0 (>= 5.2), libfreetype6 (>= 2.0), libavformat-dev (>= 7:4), libfribidi0 (>= 1.0), libpng16-16 (>= 1.0), libgif7 (>= 5.0), libjpeg8 (>= 8c), libopenthreads21 (>= 3.0), libblkid1 (>=2.0), libglew2.2 (>= 2.2), freeglut3-dev (>=2.0), libao4 (>= 1.0)
Description: Watch TV
 play movies and music
